.offer-look-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.offer-post-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 40px;
  
}

.offer-post-info {
  display: flex;
  justify-content: flex-start;
  gap:20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #777;
  font-size: 18px;
}

.offer-post-content {
  font-size: 18px;
  margin-bottom: 60px;
  margin-top: 60px;
  line-height: 1.6;
  
}

.comments-section {
  margin-top: 40px;
  
}

.comments-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.comment-box {
  border-top: 1px solid #ddd;
  padding: 10px 0;
  width:100%;
  height:90px;
}

.comment-author {
  font-weight: bold;
  color: #333;
}

.comment-text {
  margin-top: 5px;
  color: #555;
}

.comment-input-section {
  display: flex;
  justify-content: space-between; /* 입력창과 버튼의 간격 유지 */
  align-items: flex-start; /* 상단 정렬 */
  gap: 10px; /* 간격 추가 */
  width: 100%; /* 섹션 전체 너비 */
}

.comment-input {
  width: 80%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.comment-submit-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width:20%;
  height:95px;
}

.comment-submit-button:hover {
  background-color: #45a049;
}



.aiask-line,
.aiask-line * {
box-sizing: border-box;
}
.aiask-line {
margin-top: 50px;
margin-bottom: 0px;
border-style: solid;
border-color: #c4c4c4;
border-width: 1px 0 0 0;
height: 0px;
position: relative;
}

.aiask-line1,
.aiask-line1 * {
box-sizing: border-box;
}
.aiask-line1 {
margin-top: 0px;
margin-bottom: 0px;
border-style: solid;
border-color: #c4c4c4;
border-width: 1px 0 0 0;
height: 0px;
position: relative;
}


.list-button {
margin-top: 30px;
padding: 10px 20px;
background-color: #007bff;
color: white;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
}

.list-button:hover {
background-color: #0056b3;
}